<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/tobacco.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
    <section class="tobacco">
        <h1 class="crop-name">TOBACCO CROPS</h1>
        <br><br>
        <div class="tobacco-container">
                <div class="img-fcv"> <img src="/images/nonfcv.png" id="fcv" alt=""><br><br>
                    <h1 class="fcv-title"> <a href="/fcv_user">FCV</a></h1>
                </div>
                <div class="img-nonfcv"> <img src="images/nonfcv.png" id="nonfcv" alt=""><br><br>
                <h1 class="fcv-title">
                    <a href="/nonfcv">Non-FCV</a>
                </h1>
            </div>
        </div>
    </section>
</body>
</html>